#include <dt-bindings/zmk/behaviors.h>

/ {
    behaviors {
        NVC: cycle_animation {
            compatible = "zmk,behavior-cycle-animation";
            #binding-cells = <1>;
        };
    };
};