#include <dt-bindings/zmk/behaviors.h>

/ {
    behaviors {
        /omit-if-no-ref/
        nvcycle: cycle_animation {
            compatible = "zmk,behavior-cycle-animation";
            #binding-cells = <0>;
            display-name = "Cycle Nice!View Animation";
        };
    };
};